<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mange.mapper.JoinRecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.team.mange.entity.JoinRecord" id="joinRecordMap">
        <result property="id" column="id"/>
        <result property="teamId" column="team_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>


</mapper>
